.contentContainer {
    composes: contentContainer from '@tigrensolutions/core/src/components/ForgotPasswordPage/forgotPasswordPage.module.css';
    border: none;
    display: flex;
    flex-direction: column;
    padding-top: 0;
}


@media (max-width: 767px) {
    .title {
        composes: title from '@tigrensolutions/core/src/components/ForgotPasswordPage/forgotPasswordPage.module.css';
        text-align: start;
    }
}
