.megaMenuItem {
    padding: 0 10px;
    z-index: 2;
}

.megaMenuLink {
    align-items: center;
    display: inline-flex;
    height: 100%;
    color: var(--white_text_color);
    position: relative;
}

.megaMenuLinkActive {
    composes: megaMenuLink;
}

.megaMenuLink:hover {
    color: var(--white_text_color);
    text-shadow: 0.7px 0.3px 0 var(--white_text_color);
}

.hasChildren .megaMenuLink:hover:before,
.megaMenuItem.hasChildren:hover .megaMenuLink:before {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 40%;
    margin-left: -5px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    clear: both;
    z-index: 9999;
}

.hasChildren {

}

.megaMenuItem:hover .megaMenuLink,
.megaMenuItem:focus .megaMenuLink {
    color: var(--white_text_color);
    text-shadow: 0.7px 0.3px 0 var(--white_text_color);
}

.megaMenuItem:hover > div,
.megaMenuItem:focus > div {
    display: flex;
}

.megaMenuItem_active {
    composes: megaMenuItem;
    display: flex;
}

.arrowDown {
    display: none;
    padding-left: 0.5rem;
    line-height: 0;
}

