.root {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 500px;
    padding: 35px 60px 50px;
    border-radius: 10px;
    border: solid 1px var(--gray-color_e7);
    background-color: var(--white_text_color);
    margin-top: 40px;
}

.heading {
    font-size: 28px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;

    margin-bottom: 30px;
}

.container div[class*='password-root'] {
    margin-bottom: 25px;
}

.submitButton {
    margin-top: 10px;
    composes: root_highPriority from '~@tigrensolutions/core/src/components/Button/button.module.css';
    width: 100%;
    font-size: 16px;
}

@media (max-width: 767px) {
    .root {
        margin: 20px 15px auto 15px;
    }

    .container {
        width: 100%;
        padding: 30px 15px 40px;
    }

    .container div[class*='password-root'] {
        margin-bottom: 20px;
    }

    .submitButton {
        font-size: 15px;
    }

    .heading {
        font-size: 18px;
    }
}
