.root {
    composes: root from "@tigrensolutions/core/src/components/SearchBar/suggestedProduct.module.css";
}

.item {
    composes: item from "@tigrensolutions/core/src/components/SearchBar/suggestedProduct.module.css";
}

.item form {
    display: none;
}
