.root {
    display: flex;
    align-items: center;
    margin-top: 40px;
    flex-direction: column;
}


.contentContainer {
    width: 500px;
    padding: 35px 60px 73px;
    border-radius: 10px;
    border: solid 1px var(--gray-color_e7);
    text-align: center;
}

.title {
    font-size: 28px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--primary__color);
}

.description {
    font-size: var(--global_L_font_size_base);
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    color: var(--gray_text_86);
    margin-top: 10px;
}

.form {
    margin-top: 30px;
}


@media (max-width: 768px) {
    .root {
        margin: 20px 15px auto 15px;
    }

    .contentContainer {
        width: 100%;
        padding: 30px 15px 58px 15px;
    }

    .title {
        font-size: 18px;
    }

    .description {
        font-size: 13px;
        line-height: 1.69;
        margin-top: 16px;
    }

    .form {
        margin-top: 16px;
    }
}
