.root .status {
    --week_color: var(--password-week_color);
    --medium_color: var(--password-medium_color);
    --strong_color: var(--password-strong_color);
    --very_strong_color: var(--password-very-strong_color);
    --font_size: var(--password_font-size);
    font-size: var(--font_size);
    line-height: normal;
    background-color: var(--password-no_color);
    position: relative;
    height: auto;
    padding: 6px 10px;
    margin-top: 5px;
}

.label {
    color: inherit;
    font-size: inherit;
    padding-right: 5px;
}

.label:after {
    content: ':';
    color: inherit;
    font-size: inherit;
}

.status > span {
    position: relative;
    z-index: 1;
}

.status span {
    z-index: 1;
    color: var(--password-has-text_color);
}

.status:before {
    content: "";
    position: absolute;
    z-index: 0;
    display: block;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
}

.veryStrong:before {
    background-color: var(--very_strong_color);
    width: 100%;
}

.strong:before {
    background-color: var(--strong_color);
    width: 75%;
}

.medium:before {
    background-color: var(--medium_color);
    width: 50%;
}

.week:before {
    background-color: var(--week_color);
    width: 25%;
}


.noPassword span {
    color: var(--password-text_color);
}


@media screen and (max-width: 767px) {
    .status {
        --font_size: 12px;
    }
}
