.sortButton {
    width: 50px;
    color: #646464;
    border: 1px solid #646464;
    border-radius: 5px;
    height: 25px;
}

@media (min-width: 768px) {
    .sortButton {
        display: none;
    }
}
