.root {
    align-items: center;
    display: flex;
    width: 100%;
}

.active {

}

.root .radio {
    background-image: var(--background_electronic_image_icon);
    background-size: 500px;
    width: 30px;
    height: 30px;
}

.active .radio {
    background-position: -381px -125px;
}

.root:not(.active) .radio {
    background-position: -381px -155px;
}


.content {
    align-items: center;
    display: grid;
    gap: 0.75rem;
    grid-auto-flow: column;
    grid-template-columns: 1fr;
    height: 2.5rem;
    padding: 0 0.75rem;
    width: 100%;
}

.text {
    text-align: left;
    white-space: nowrap;
}
