.root {
    composes: root from '@tigrensolutions/core/src/components/ForgotPassword/ForgotPasswordForm/forgotPasswordForm.module.css';
}

.submitButton {
    composes: submitButton from '@tigrensolutions/core/src/components/ForgotPassword/ForgotPasswordForm/forgotPasswordForm.module.css';
    text-transform: uppercase;
    color: #FFFFFF;
}

.root label[class*="field-label"] {
    font-weight: 600;
    color: #333333;
}

@media (max-width: 767px) {

}
