.root {
    composes: auto-cols-fr from global;
    composes: bg-white from global;
    composes: block from global;
    composes: h-auto from global;
    composes: top-0 from global;
    composes: sticky from global;
    composes: w-full from global;
    composes: z-10 from global;
}

.switchers {
    composes: flex from global;
    composes: justify-between from global;
    composes: items-center from global;
    composes: max-w-desktop_xl from global;
    composes: mx-auto from global;
    composes: relative from global;
    composes: w-full from global;
    composes: z-11 from global;
    min-height: 30px;
}

.switchers .headerLink > div {
    margin: 0;
}

.switchersContainer {
    composes: bg-gray-100 from global;
    composes: hidden from global;
    composes: w-full from global;
}

/* Large screen styles */
.switchersContainer {
    composes: sm_block from global;
}

.open {
    composes: root;
}

.closed {
    composes: root;
}

.toolbar {
    composes: border-0 from global;
    composes: content-center from global;
    composes: flex from global;
    composes: align-center from global;
    composes: h-20 from global;
    composes: items-center from global;
    composes: justify-self-center from global;
    composes: max-w-desktop_xl from global;
    composes: min-height-header from global;
    composes: w-full from global;
    composes: z-3 from global;
}

.headerBottom {
    background-color: var(--theme__base-color);
    height: 41px;
}

.content {
    composes: flex from global;
    composes: max-w-desktop_xl from global;
    composes: justify-between from global;
    composes: items-center from global;
    position: relative;
}

.actions {
    composes: flex from global;
    composes: flex-grow from global;
    composes: items-center from global;
}

.searchBar {
    z-index: 3;
    composes: flex-grow from global;
}

.primaryActions {
    composes: col-start-1 from global;
    composes: grid from global;
    composes: grid-flow-col from global;
    composes: justify-self-start from global;
    composes: row-start-1 from global;
    composes: self-center from global;
}

.logoContainer {
    composes: col-start-2 from global;
    composes: justify-self-center from global;
    composes: my-4 from global;
}

/* Large screen styles */
.logoContainer {
    composes: lg_col-end-3 from global;
    composes: lg_col-start-1 from global;
    composes: lg_justify-self-start from global;
    composes: lg_mr-8 from global;
    composes: lg_row-start-1 from global;
}

.secondaryActions {
    composes: col-start-3 from global;
    composes: grid from global;
    composes: grid-flow-col from global;
    composes: items-center from global;
    composes: justify-items-end from global;
    composes: justify-self-end from global;
    composes: w-max from global;
}

/* Large screen styles */
.secondaryActions {
    composes: lg_col-end-13 from global;
    composes: lg_col-start-10 from global;
    composes: lg_gap-x-4 from global;
    position: relative;
}

.searchFallback {
    composes: flex from global;
    composes: justify-center from global;
    composes: mb-2 from global;
    composes: px-4 from global;
}

.input {
    composes: input from '~@tigrensolutions/core/src/components/TextInput/textInput.module.css';
    composes: max-w-sm from global;
}

.loader,
.loader:before,
.loader:after {
    --dot-size: 2em;
    --dot-font-size: 6px;
    --dot-shadow-offset: calc(-1 * var(--dot-size) + var(--dot-font-size));
    border-radius: 50%;
    width: var(--dot-size);
    height: var(--dot-size);
    animation: pulse 1.8s infinite ease-in-out;
    animation-fill-mode: both;
}

.loader {
    composes: relative from global;
    color: rgb(var(--venia-global-color-gray-dark));
    font-size: var(--dot-font-size);
    margin: var(--dot-shadow-offset) auto 0;
    transform: translateZ(0);
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    color: rgb(var(--venia-global-color-gray));
    left: -3.5em;
    animation-delay: -0.32s;
}

.loader:after {
    color: rgb(var(--venia-global-color-gray-darker));
    left: 3.5em;
}

.menuBar {
    composes: flex from global;
    height: 41px;
}

.messagePromo {
    font-size: var(--global-font_size_base);
    font-weight: 600;
    color: var(--white_text_color);
    padding-left: 30px;
    position: relative;
    composes: icon-sprite-before from global;
    display: none;
}

.headerBottom .messagePromo {
    display: block;
}

.messagePromo:before {
    content: '';
    display: block;
    width: 20px;
    height: 21px;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: 0;
    background-position: -41px -440px;
}

.messagePromo > div {
    margin: 0;
}

.switchActions {
    composes: flex from global;
    font-size: 12px;
    font-weight: normal;
    color: var(--gray_text-header);
    composes: items-center from global;
}

/*.switchActions .current {*/
/*    display: none;*/
/*}*/

.current {
    padding: 0.5rem 0 0.5rem 1rem;
}

.current div[class*="shimmer-root"] {
    max-height: 15px;
    max-width: 45px;
}

.current div[class*="currencySwitcher-menu"] {
    top: 100%;
    right: 0;
    z-index: 11;
}

.switchActions div[class*="currencySwitcher-root"] > span {
    display: none;
}

.switchActions div[class*="storeSwitcher-root"] {
    padding-right: 0;
}

.switchActions div[class*="storeSwitcher-root"] > span {
    display: none;
}

.switchActions div[class*="storeSwitcher-root"] > button {
    position: relative;
    padding-right: 20px;
}

.switchActions div[class*="storeSwitcher-root"] > button:before {
    content: '';
    display: block;
    width: 8px;
    height: 4px;
    background-position: -133px -381px;
    background-image: var(--background_image_icon);
    background-size: var(--background_image_size);
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -2px;
}

.switchActions div[class*="storeSwitcher-menu"] {
    top: 100%;
    padding: 0;
    z-index: 11;
}

.accountActions {
    position: relative;
    z-index: 3;
}

@keyframes pulse {
    0%,
    80%,
    100% {
        box-shadow: 0 var(--dot-size) 0 -1.3em;
    }
    40% {
        box-shadow: 0 var(--dot-size) 0 0;
    }
}

.logo {
    --height: 52px;
    --width: 236px;
    width: var(--width);
    height: var(--height);
}

.iconStore {
    width: 25px;
    height: 23px;
    display: inline-block;
    background-image: var(--background_image_icon);
    background-size: var(--background_image_size);
    background-position: -626px -61px;
    margin-right: 10px;
}

header .headerCheckout {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btnStore {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: var(--venia-global-color-black);
}

@media (min-width: 1024px) {
    .primaryActions > button {
        display: none;
    }
}

@media (max-width: 1023px) {
    .headerBottom {
        display: none;
    }

    .messagePromo {
        display: block;
        width: 100%;
        background-color: var(--theme__base-color);
        text-align: center;
        padding: 6px;
        font-size: 11px;
        font-weight: 600;
    }

    .messagePromo:before {
        display: none;
    }
}

@media (max-width: 767px) {
    /* ... */
    .logo {
        width: calc(var(--width) / 2);
        height: calc(var(--height) / 2);
    }

    .toolbarMobile {
        justify-content: space-between;
        height: 3.5rem !important;
        box-shadow: 0 2px 4px 0 rgba(228, 228, 228, 0.5);
    }

    .toolbarMobile .actions {
        flex-grow: unset;
    }

    .accountActions {
        display: none;
    }

    .searchBar {
        line-height: 19px;
        margin-top: -4px;
    }

    .iconStore {
        width: 20px;
        height: 20px;
        margin-right: 7px;
        background-position: -567px -373px;
    }

    .btnStore {
        font-size: 12px;
    }

    :global(#root) .toolbar .actions {
        flex-grow: 0;
    }
}
