.root {
    composes: root from '~@magento/venia-ui/lib/components/clickable.module.css';
}

.root {
    font-size: var(--global-font_size_base);
    font-weight: 600;
    color: var(--white_text_color);
}

@media (min-width: 1024px) {
    .root {
        display: none;
    }
}

@media (max-width: 1023px) {
    .root .text {
        display: none;
    }

    .root svg {
        stroke: var(--primary__color);
    }

    .root {
        padding-right: 10px;
    }
}
