.root {

}

.title {
    font-size: 22px;
    font-weight: bold;
    color: var(--black-color-31);
}

.deleteAll {
    align-items: center;
    font-size: 14px;
    color: #333;
    display: flex;
}

.wrapBtnPrint {
    display: flex;
    align-items: center;
}

.deleteAll:hover, .wrapBtnPrint:hover {
    color: #020202;
}

.btnPrint {
    align-items: center;
    font-size: 14px;
    color: #333;
    padding: 0 15px;
    margin-right: 15px;
    display: flex;
    position: relative;
}

.btnPrint:before {
    content: '';
    position: absolute;
    right: 0;
    width: 1px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    background: #d8d8d8;
}

.deleteIcon {
    margin-right: 5px;
    display: inline-block;
    background-position: -527px -373px;
    width: 20px;
    height: 20px;
    composes: icon-sprite from global;
}

.printIcon {
    margin-right: 5px;
    display: inline-block;
    background-position: -607px -373px;
    width: 21px;
    height: 20px;
    composes: icon-sprite from global;
}

.heading {
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1300px) {
    .root {
        padding: 0 15px;
    }
}

@media (max-width: 991px) {
    .title {
        font-size: 15px;
        white-space: nowrap;
    }

    .btnPrint {
        font-size: 12px;
        padding: 0 6px;
        margin-right: 2px;
        white-space: nowrap;
    }

    .printIcon {
        margin-right: 3px;
        width: 19px;
        min-width: 19px;
    }

    .deleteAll {
        font-size: 12px;
        white-space: nowrap;
    }

    .deleteIcon {
        margin-right: 3px;
        width: 19px;
        min-width: 19px;

    }
}
