.passwordButton {
    composes: root from '~@tigrensolutions/core/src/components/Button/button.module.css';
    --stroke: var(--venia-global-color-gray-500);
    background: none;
    border-radius: 0;
    border-style: none;
    border-width: 0;
    padding: 0;
    min-width: 0;
}

.passwordButton:hover {
    --stroke: var(--venia-global-color-gray-700);
}

.passwordButton:focus {
    box-shadow: none;
    --stroke: var(--venia-global-color-gray-700);
}

.root:active {
    --stroke: var(--venia-global-color-gray-700);
}

.root p:not([class*="message-root_error"]) {
    color: var(--input-error_color);
    font-size: var(--input-error_font-size);
    text-align: left;
}


.strengthBarRoot {
    composes: root;
    display: flex;
    flex-direction: column;
}


.strengthBarRoot p[class*='message-root'] {
    order: 1;
}
