.root {
    padding: 32px 16px;
}

.products {
    composes: root from '~@magento/pagebuilder/lib/ContentTypes/Slider/slider.module.css';
}

:global .crossSell-products-slider {
    margin: 0 -10px;
}

.title {
    font-size: 22px;
    font-weight: 600;
    color: var(--theme__base-color);
    margin: 0;
    padding: 15px 0px;
}

.products :global(.slick-track) {
    float: left;
}
