@media (max-width: 767px) {
    .filterButtonShimmer {
        flex-basis: 50%;
    }
}


@media (min-width: 768px) and (max-width: 1023px) {
    .filterButtonShimmer {
        flex-basis: 30%;
    }
}

.filterButtonShimmer {
    border-radius: 5px;
    height: 34px;
}

@media (max-width: 1023px) {
    .filterButtonShimmer {
        composes: root_button from '~@magento/venia-ui/lib/components/Shimmer/shimmer.module.css';
        border-radius: 5px;
        height: 34px;
        min-height: 34px;
    }
}
