.root {
    display: block;
    position: relative;
}

.orderInformation {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.heading {
    font-size: var(--global-font_size_heading_h4);
    font-weight: 400;
    margin-top: 35px;
    margin-bottom: 10px;
    padding-left: 10px;
    color: var(--tigren-pwa-topmenu-text-color);
    line-height: 1.3;
}

.orderInformationContent {
    border: 1px solid #ccc;
    border-radius: 0;
    margin: 0;
    padding: 15px 20px;
}

.shippingInformationContainer,
.shippingMethodContainer,
.billingInformationContainer,
.paymentMethodContainer {
    composes: orderInformationContent;
}

.itemsContainer {
    grid-row: 2 / span 4;
    grid-column: 1 / span 2;
}

.orderTotalContainer {
    display: block;
}

.orderTotalContainer > div {
    border: none;
    padding: 25px 0 15px;
    max-width: 500px;
    margin-right: 0;
    margin-left: auto;
    width: 70%;
}

.orderTotalContainer div[class*="orderTotal-heading"] {
    display: none;
}

.printButton {
    grid-row: 4 / span 1;
    grid-column: 3 / span 2;
    align-items: center;
    column-gap: 0.5rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr;
    width: fit-content;
    margin: auto;
}

.btnPrint {
    margin: 13px 10px;
}

.btnPrint button {
    background-color: rgb(255, 254, 253);
    color: rgb(61, 57, 57);
    border-radius: 10px;
    border: 2px solid rgb(121, 118, 118);
}

.btnPrint button span {
    text-decoration: none;
}

.printLabel {
    text-decoration: underline;
}

.orderDetailBox {
    display: block;
    padding: 0;
}

.orderDetailBox .heading {
    display: inline-block;
    width: auto;
    margin: 0 0 -1px;
    padding: 15px 20px;
    border: 1px solid #ccc;
    border-bottom: none;
    position: relative;
    background: #f6f6f6;
    font-size: var(--venia-global-fontSize-base);
}

.orderDetailContent {
    border: 1px solid #ccc;
    padding: 25px;
    position: relative;
    z-index: 0;
}

.headerTab .hasShipment {
    display: inline-block;
    bottom: -1px;
    position: relative;
    list-style: none;
}

.headerTab :global(.react-tabs__tab) {
    padding: 0;
    border: none;
}

.headerTab :global(.react-tabs__tab-list) {
    margin: 0;
    border: none;
}

.headerTab :global(.react-tabs__tab--selected) {
    padding: 0;
    border: none;
    border-radius: 0;
}

.headerTab :global(.react-tabs__tab--selected) .heading {
    background-color: var(--tigren-pwa-header-bg-color);
}

.headerTab .noShipment:global(.react-tabs__tab--selected) .heading {
    background-color: var(--tigren-pwa-header-bg-color);
}

.headerTab :global(.react-tabs__tab:focus) {
    box-shadow: none;
}

.printOrderPage {
    display: none;
}

@media (max-width: 767px) {

    .orderInformation {
        display: grid;
        grid-template-columns:25% 25% 25% 25%;
    }

    .orderDatePrint {
        padding-left: 5px;
    }

    .orderDetailContent {
        padding: 10px;
    }

    .orderDetailBox .heading {
        width: 100%;
        margin: 0;
        padding: 0 20px;
        line-height: 36px;
        font-size: var(--global-font_size_heading_h6);
        letter-spacing: 0.5px;
        border-bottom: 1px solid #ccc;
    }

    .shippingInformationContainer,
    .shippingMethodContainer,
    .billingInformationContainer,
    .paymentMethodContainer {
        margin: 0 10px;
    }

    .heading {
        font-size: var(--venia-global-fontSize-base);
        font-weight: 400;
        margin: 35px 10px 10px;
    }

    .headerTab :global(.react-tabs__tab),
    .headerTab .hasShipment {
        padding: 0;
        border: none;
        display: block;
    }
}

/*____rtl____*/
:global(html[data-direction="rtl"]) .heading {
    text-align: right;
    padding-right: 10px;
}

@media (min-width: 768px) {
    :global(html[data-direction="rtl"]) .headerTab :global(.react-tabs__tab-list) {
        display: flex;
    }
}

.orderShowPrint {
    padding-top: 18px;
    padding-bottom: 16px;
}

.numberOrder {
    display: flex;
    padding: 20px 0;
    align-items: center;
}

.numberOrder h2 {
    font-size: 30px;
    padding-right: 25px;
}

.numberOrder h3 {
    font-size: 18px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    color: black;
}

.orderDatePrint {
    padding-left: 5px;
}

.orderDetailContent {
    padding: 10px;
}

.orderShowPrint img {
    width: 150px;
    cursor: pointer;
}

.copyright {
    padding: 15px 0;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #B0B0B0;
    max-width: unset;
}

/*footer{*/
/*    display: none !important;*/
/*}*/
@media all {
    .page-break {
        display: none;
    }
}

@media print {
    html, body {
        height: initial !important;
        overflow: initial !important;
        -webkit-print-color-adjust: exact;
    }
}

@media print {
    .page-break {
        margin-top: 1rem;
        display: block;
        page-break-before: auto;
    }
}

@page {
    size: auto;
    margin: 20mm;
}

@media print {
    .printOrderPage {
        display: block;
    }
}
