.bundleProductPrice {
    clear: both;
    margin-top: 5px;
}

.bundleProductPrice p {
    font-size: 16px;
}

.bundleProductPrice p:last-child {
    font-size: 12px;
    font-weight: normal;
}

.optionRenderRadio {
    display: block;

}

.optionRenderRadio span {
}

.optionRenderRadio label {
    display: inline-block;
    font-size: 14px;
}

.optionRenderRadio, .optionRenderCheckbox {
    position: relative;
    padding: 0 0 0 25px;
    margin: 0 0 15px;
}

.optionRenderRadioSingle {
    position: relative;
    padding: 0;
    margin: 0 0 15px;
}

.optionRenderRadio input, .optionRenderCheckbox input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    margin: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.optionRenderRadio input ~ label, .optionRenderCheckbox input ~ label {
    padding: 0;
}

.optionRenderRadio input ~ label:before {
    content: '';
    width: 16px;
    height: 16px;
    background: #ffffff;
    border: 2px solid #c2c2c2;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    z-index: 2;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.optionRenderCheckbox input ~ label:before {
    content: '';
    width: 16px;
    height: 16px;
    background: #ffffff;
    border: 2px solid #c2c2c2;
    display: inline-block;
    position: absolute;
    left: 0;
    top: calc(100% + -3px);
    transform: translateY(-50%);
    margin-top: -10px;
    text-align: center;
    z-index: 2;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.optionRenderRadio input:checked ~ label:before, .optionRenderCheckbox input:checked ~ label:before {
    border-color: var(--primary__color);
    background: var(--primary__color);
}

.optionRenderRadio input:checked ~ label::after, .optionRenderCheckbox input:checked ~ label:after {
    content: "";
    left: 5px;
    top: 50%;
    transform: translateY(10px);
    width: 4px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg) translate(-50%, -50%);
    position: absolute;
    z-index: 3;
}
