.root {
    display: grid;
    gap: 35px;
    justify-items: stretch;
}

.buttonContainer {
    align-items: center;
    display: grid;
    grid-auto-flow: column;
    text-align: center;
}

.submitButton {
    composes: root_highPriority from '~@tigrensolutions/core/src/components/Button/button.module.css';
    min-width: 9rem;
}


@media (max-width: 768px) {
    .root {
        gap: 40px;
    }
}
