.root {
    align-items: center;
    border: 1px none currentColor;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    min-height: 30px;
    outline: none;
    position: relative;

    font-size: var(--global_L_font_size_base);
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8f8f8f;
}

.root_active {
    composes: root;
    border-style: solid;
    color: #31353b;
}
